<div class="footer">
  <div class="footer-social">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
  </div>
  <div class="footer-company">
    &copy;VentureVista Private Limited
  </div>
  <div class="footer-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms And Condition</a>
  </div>
</div>
