<% layout("./layouts/boilerplate.ejs") %>
<div class="row col-8 offset-2 mt-3">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
      <i class="fa-solid fa-triangle-exclamation"></i
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=err.message%>
    </div>
  </div>
</div>
